body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background-color: rgb(212, 135, 212);
}

.main-div {
  /* border: 1px solid blue; */
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%,10%);
  width:40%;
  height:auto;
  /* text-align: center; */
  padding:20px;
}

.center-div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: 1px solid red;
  background-color: bisque;
  border-radius: 10px;
  padding: 10px;
}

h1 {
  color: rgb(4, 3, 3);
  font-size: 35px;
  font-weight: 500;
  /* background-color: purple; */
  /* border: 1px solid black; */
  /* text-decoration: underline; */
}

input {
  width:80%;
  font-size: 20px;
  text-align: center;
  border:1px solid white;
  border-radius: 8px;
  color: #000;
}

button {
  font-size: 30px;
  margin-top:20px;
  border:1px solid white;
  border-radius: 50%;
  background-color: rgb(184, 245, 245);
  margin-bottom: 10px;
}

button:hover {
  background-color: wheat;
}

 li {
  list-style-type: none;
  font-size: 22px;
  margin-bottom: 20px;
  /* display:; */
  margin-left: 18px;
  margin-top :-22px;
}

.fa-sharp {
  color:red;
  font-size: 20px;
  /* margin-left:-45px; */
  /* display: inline; */
}

.fa-sharp:hover {
  background-color:purple;
}